# Diese Datei erweitert oder überschreibt  die `docker-compose.yml` für die Entwicklung.

version: "3.9"

services:

  web:
    build:
      target: dev
    image: ${CONTAINER_PREFIX:-dws}-nginx:dev-master
    volumes:
      - type: bind
        source: ./docker/web/nginx/ssl
        target: /etc/nginx/ssl

  php:
    build:
      target: dev
    environment:
      # See https://xdebug.org/docs/all_settings#mode
      # The mode is disabled by default by performance reasons.
      # Enable it on demand by `.env`
      XDEBUG_MODE: "${XDEBUG_MODE:-off}"
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway
    image: ${CONTAINER_PREFIX:-dws}-php:dev-master
    volumes:
      # Die Applikationsdateien werden als Share in den Container gemounted.
      - type: bind
        source: ./app
        target: ${COMPOSE_DOCUMENT_ROOT:-/srv/app}
