# This docker compose file is only used to define the individual services, networks and volumes.
# The default configuration is extended and modified by Compose files like `docker-compose.override.yml`,
# `docker-compose.preview.yml` and `docker-compose.prod.yml`.

version: "3.9"

services:

  # Web server as alias for different images like Apache, Nginx or similar.
  # Thereby the hostname `web` is always fixed and can be used in the advanced configuration.
  # The naming of the container is done with appropriate prefix.
  web:
    build:
      args:
        - NGINX_VERSION=${VERSION_NGINX:-1.23.3}
      context: .
      dockerfile: ./docker/web/nginx/Dockerfile
    container_name: ${COMPOSE_CONTAINER_PREFIX:-dws}-nginx
    depends_on:
      php:
        condition: service_healthy
    environment:
      - DOCUMENT_ROOT=${DOCUMENT_ROOT:-/srv/app}
      - PUBLIC_ROOT=${PUBLIC_ROOT:-/}
      - HOSTNAME=${HOSTNAME:-localhost}
    healthcheck:
      test: [ "CMD-SHELL", "curl --fail http://localhost || exit 1" ]
      interval: 50s
      timeout: 30s
      retries: 3
      start_period: 0s
    image: ${COMPOSE_CONTAINER_PREFIX:-dws}/nginx:latest
    networks:
      - default
    # The policy restarts a container irrespective of the exit code but will stop restarting when the service is stopped or removed.
    restart: unless-stopped
    volumes:
      - type: volume
        source: php_socket
        target: /var/run/php
      - type: bind
        source: ./app
        target: ${DOCUMENT_ROOT:-/srv/app}
        read_only: true
    working_dir: /etc/nginx

  php:
    build:
      args:
        - PHP_VERSION=${VERSION_PHP:-8.1.13}
        - DOCUMENT_ROOT=${DOCUMENT_ROOT:-/srv/app}
      context: .
      dockerfile: ./docker/php/fpm/Dockerfile
    container_name: ${COMPOSE_CONTAINER_PREFIX:-dws}-php
    healthcheck:
      test: [ "CMD-SHELL", "env -i REQUEST_METHOD=GET SCRIPT_NAME=/ping SCRIPT_FILENAME=/ping cgi-fcgi -bind -connect /var/run/php/php-fpm.sock || exit 1" ]
      interval: 20s
      timeout: 10s
      retries: 3
      start_period: 0s
    image: ${COMPOSE_CONTAINER_PREFIX:-dws}/php:latest
    networks:
      - default
    # The policy restarts a container irrespective of the exit code but will stop restarting when the service is stopped or removed.
    restart: unless-stopped
    volumes:
      - type: volume
        source: php_socket
        target: /var/run/php
    working_dir: ${DOCUMENT_ROOT:-/srv/app}

  db:
    build:
      args:
        - MARIADB_VERSION=${VERSION_MARIADB:-10.9.4}
      context: .
      dockerfile: ./docker/db/mariadb/Dockerfile
    container_name: ${COMPOSE_CONTAINER_PREFIX:-dws}-db
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: yes
      MARIADB_USER: ${MARIADB_USERNAME:-dbuser}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD:-dbsecret}
      MARIADB_DATABASE: ${MARIADB_DATABASE:-dws}
    image: ${COMPOSE_CONTAINER_PREFIX:-dws}/mariadb:latest
    networks:
      - default
    profiles:
      - db
    restart: always
    volumes:
      - type: volume
        source: db_data
        target: /var/lib/mysql

  cache:
    build:
      args:
        - REDIS_VERSION=${VERSION_REDIS:-7.0.5}
      context: .
      dockerfile: ./docker/cache/redis/Dockerfile
    container_name: ${COMPOSE_CONTAINER_PREFIX:-dws}-cache
    image: ${COMPOSE_CONTAINER_PREFIX:-dws}/redis:latest
    networks:
      - default
    profiles:
      - cache
    restart: always


networks:

  # The standard network can be configured by ENV variables.
  # Also, an extension for IP_V6 is possible.
  default:
    ipam:
      config:
        - subnet: ${NETWORK_IP_V4_SUBNET:-10.0.0.0/24}
          gateway: ${NETWORK_IP_V6_SUBNET:-10.0.0.1}

volumes:

  # This volume is used to connect vpn web server and PHP-FPM via socket.
  php_socket:

  db_data:
