# This file extends or overwrites the `docker-compose.yml` for development.

version: "3.9"

services:

  web:
    build:
      target: dev
    image: ${COMPOSE_CONTAINER_PREFIX:-dws}/nginx:dev-master
    ports:
      - 80:${PORT_HTTP:-80}
      - 443:${PORT_HTTPS:-443}
    volumes:
      # Mount a folder for self-signed certificates only for development
      - type: bind
        source: ./docker/web/nginx/data/ssl
        target: /etc/nginx/ssl

  php:
    build:
      target: dev
    environment:
      # See https://xdebug.org/docs/all_settings#mode
      # The mode is disabled by default by performance reasons.
      # Enable it on demand by `.env`
      XDEBUG_MODE: "${XDEBUG_MODE:-off}"
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway
    image: ${COMPOSE_CONTAINER_PREFIX:-dws}/php:dev-master
    volumes:
      # The application files are mounted as a share in the container.
      - type: bind
        source: ./app
        target: ${DOCUMENT_ROOT:-/srv/app}

  adminer:
    depends_on:
      - db
    container_name: ${COMPOSE_CONTAINER_PREFIX:-dws}-adminer
    image: adminer
    restart: always
    ports:
      - 8080:${PORT_ADMINER:-8080}
    profiles:
      - db

  mailer:
    container_name: ${COMPOSE_CONTAINER_PREFIX:-dws}-mailer
    image: schickling/mailcatcher
    restart: always
    ports:
      - 1080:${PORT_MAILER:-1080}
    profiles:
      - mail
