[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
countryName = DE
stateOrProvinceName = Brunswick
localityName = Brunswick
organizationName = ACME Inc.
organizationalUnitName = IT-Dev DWS
emailAddress = it.development@acme.com

[v3_req]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
basicConstraints = CA:TRUE
